@media screen and (max-width: 650px) {

.nav a{
    padding: 8px 0px 8px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s
}
.nav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    float: left;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}
}

@media screen and (min-width: 650px) {

.nav a{
    padding: 8px 0px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}
.nav {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    float: left;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}
}

.nav a:hover {
background-color: purple;
}
div { word-wrap: break-word; }
@media screen and (max-width: 850px) {
.box {
border: 2px;
box-shadow: 0 3px 2px 0 gray;
background-color: #bcc2c4;
width: 65%;
height: auto;
margin-left: 37.8%;
display: block;
float: left;
}
}

@media screen and (min-width: 850px) {
.box {
border: 2px;
box-shadow: 0 3px 2px 0 gray;
background-color: #bcc2c4;
width: 75%;
height: 83%;
margin-top: 10px;
margin-left: 20%;
display: block;
float: left;
}
}

@media screen and (max-width: 850px) {
.box2 {
border: 2px;
width: 65%;
height: auto;
margin-left: 37.8%;
display: block;
float: left;
padding-left: 2px; 
}
}

@media (max-width: 340px) and (min-width:300px){
.box2 {
border: 2px;
width: 61%;
height: auto;
margin-left: 37.8%;
display: block;
float: left;
padding-left: 10px; 
margin-right: 0;
margin-right: 0;
}
}

@media screen and (min-width: 850px) {
.box2 {
border: 2px;
width: 75%;
height: 83%;
margin-top: 10px;
margin-left: 20%;
display: block;
float: left;
}
}

a.link {
color: red;
text-decoration: none;
}

a.link:hover{
text-decoration: underline;
}
body {
font-family: "Lato", sans-serif;
}
